body {
  font-family: Arial, sans-serif;
  background-color: #8eeacb;
  margin: 0;
  padding: 40px;
  text-align: center;
}

.container {
  background: #5dcaa5;
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.inputbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.inputbox input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #a7d1c36c;
  border-radius: 5px;
}

.inputbox button {
  padding: 10px;
  font-size: 16px;
  background-color: #02291c8f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inputbox button:hover {
  background-color: #055a3d86;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #303e39;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

li span {
  text-align: left;
}

li.completed span {
  text-decoration: line-through;
  color: #9ae9b0;
}

li button {
  margin-left: 8px;
  padding: 6px 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

li button:nth-child(2) {
  background-color: #00ffbf;
  color: white;
}

li button:nth-child(2):hover {
  background-color: #00b35f;
}

li button:nth-child(3) {
  background-color: #43dc35;
  color: white;
}

li button:nth-child(3):hover {
  background-color: #1da77b;
}
